<%= form_with(model: ink, class: "form-horizontal") do |form| %>
  <% if ink.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% ink.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <div class="form-group row">
          <%= form.label :name, "インク名", class: "col-sm-4 col-form-label text-sm-right" %>
          <div class="col-sm-8">
            <%= form.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :color_type, "色", class: "col-sm-4 col-form-label text-sm-right" %>
          <div class="col-sm-8">
            <%= form.text_field :color_type, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-8 offset-sm-4">
            <%= form.submit "登録", class: 'btn btn-primary' %>
          </div>
        </div>

      </div>
    </div>
  </div>

<% end %>
