<p id="notice"><%= notice %></p>

<h3>注文詳細</h3>
<table>
  <thead>
    <tr>
      <th>インク名</th>
      <th>注文個数</th>
      <th>注文者</th>
      <th>仕入れ先名</th>
      <th>注文日</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @order.ink_name %></td>
        <td class="quantity"><%= @order.order_quantity %></td>
        <td><%= @order.user.name %></td>
        <td><%= @order.supplier.name %></td>
        <td><%= @order.order_date %></td>
      </tr>
  </tbody>
</table>
<%= link_to '戻る', orders_path, class: 'btn btn-primary register-btn' %>