<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "ロケーション名" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :stage, "段" %>
    <%= form.number_field :stage %>
  </div>

  <div class="field">
    <%= form.label :ink_name, "インク名" %>
    <%= form.text_field :ink_name %>
  </div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
