<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <div class="form-group col-md-3">
      <%= form.label :name, "ロケーション名" %>
      <%= form.text_field :name %>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :stage, "段" %>
      <%= form.number_field :stage %>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :ink_name, "インク名" %>
      <%= form.text_field :ink_name %>
    </div>
  </div>
  <div><%= form.submit "登録", class: 'btn btn-primary register-btn' %></div>
<% end %>
