<p id="notice"><%= notice %></p>

<p>
  <strong>ロケーション名:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>段:</strong>
  <%= @location.stage %>
</p>

<p>
  <strong>インク名:</strong>
  <%= @location.ink_name %>
</p>

<%= link_to '編集', edit_location_path(@location) %> |
<%= link_to '戻る', locations_path %>
