<p id="notice"><%= notice %></p>

<h2>詳細</h2>
<table>
  <thead>
    <tr>
      <th>ロケーション名</th>
      <th>段</th>
      <th>インク名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @location.name %></td>
        <td><%= @location.stage %></td>
        <td><%= @location.ink_name %></td>
        <td><%= link_to '編集', edit_location_path(@location) %></td>
      </tr>
  </tbody>
</table>
<%= link_to '戻る', locations_path, class: 'btn btn-primary register-btn' %>
